<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="RegTest">
    <classes>
      <class name="testcomponent.RegTest">
		  <!-- <parameter name="pinnum" value="600001"></parameter> -->
		  <methods>
			  <!-- -->
		  </methods>
		  </class>
    </classes>
  </test> <!-- RegTest -->
</suite> <!-- Suite -->
